/* --------------------------------- LIGHT THEME --------------------------------- */
:root {
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-accent: #000000;
  --color-active: #3b82f6;
  --color-danger: #ef4444;

  --color-foreground: #111827;
  --color-text: #4b5563;
  --color-muted: #9ca3af;
  --color-link: blue;
  --color-accent-foreground: #ffffff;
  --color-active-foreground: #ffffff;
  --color-danger-foreground: #ffffff;

  --color-focus: yellow;
  --color-border: #e5e7eb;
  --color-divider: #f3f4f6;
  --color-overlay: rgba(17, 24, 39, 0.5);
  --color-backdrop: rgba(17, 24, 39, 0.3);
}

/* --------------------------------- DARK THEME --------------------------------- */
.dark {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-accent: #000000;
  --color-active: #60a5fa;
  --color-danger: #f87171;

  --color-foreground: #f8fafc;
  --color-text: #94a3b8;
  --color-muted: #475569;
  --color-link: blue;
  --color-accent-foreground: #0f172a;
  --color-active-foreground: #f8fafc;
  --color-danger-foreground: #0f172a;

  --color-focus: yellow;
  --color-border: #374151;
  --color-divider: #f3f4f6;
  --color-overlay: rgba(0, 0, 0, 0.7);
  --color-backdrop: rgba(0, 0, 0, 0.5);
}
